div {
  margin-bottom: 1rem;
  padding: 1rem;
  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background: linear-gradient(45deg, #366699, #5d84ad);
    color: #fff;
  }

  p {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.25rem;
    color: #105aa9;
    background: #f0f0f0;
  }
}
