<div class="search">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search Movie </mat-label>
    <input (keydown)="onKeydown($event)" [formControl]="search" matInput />
  </mat-form-field>
  <button mat-raised-button matSuffix="search" (click)="fetchMovies()">
    search... <mat-icon>search</mat-icon>
  </button>
</div>
<div class="table" *ngIf="movies | async as moviesList">
  @for ( movie of moviesList; track movie){
  <mat-card appearance="outlined">
    <img
      mat-card-xl-image
      [src]="movie.image?.url"
      alt="{{ movie.title }}"
      appImageFallback
    />
    <mat-card-subtitle>{{ movie.titleType }}</mat-card-subtitle>
    <mat-card-content>{{ movie.title | truncate : 25 }} </mat-card-content>
  </mat-card>
  } @if(moviesList.length == 0){
  <div [appErrorState]="moviesList" class="movies-not-found"></div>
  }
</div>
