<section class="main-container">
  <form [formGroup]="jobForm">
    <button
      class="mid-w"
      type="button"
      mat-raised-button
      (click)="addNewJobBtnClick()"
    >
      Add new Job
    </button>
    <article class="inner-container" formArrayName="jobs">
      @for (job of getJobs().controls; track job; let i = $index){
      <div class="form" [formGroupName]="i">
        <button
          class="small-w"
          type="button"
          mat-raised-button
          (click)="removeJobBtnClick(i)"
        >
          Remove Job
        </button>
        <div class="controls">
          <mat-form-field class="full-w" appearance="outline">
            <mat-label>companyName</mat-label>
            <input formControlName="companyName" matInput />
          </mat-form-field>
          <mat-form-field class="full-w" appearance="outline">
            <mat-label>companyWebPage</mat-label>
            <input formControlName="companyWebPage" matInput />
          </mat-form-field>
          <mat-form-field class="full-w" appearance="outline">
            <mat-label>companyDescription</mat-label>
            <textarea formControlName="companyDescription" matInput></textarea>
          </mat-form-field>
        </div>
        <button
          type="button"
          class="full-w"
          mat-raised-button
          (click)="addNewPositionBtnClick(i)"
        >
          Add Position
        </button>
        <div formArrayName="positions" class="position-form">
          @for (position of getPositions(i).controls; track position; let j =
          $index){
          <div class="form bg-dark" [formGroupName]="j">
            <button
              class="small-w"
              type="button"
              mat-raised-button
              (click)="removePositionBtnClick(i, j)"
            >
              Remove Position
            </button>
            <div class="controls">
              <mat-form-field class="full-w" appearance="outline">
                <mat-label>positionName</mat-label>
                <input formControlName="positionName" matInput />
              </mat-form-field>
              <app-custom-select
                formControlName="positionLevel"
              ></app-custom-select>
              <mat-form-field class="full-w" appearance="outline">
                <mat-label>positionDescription</mat-label>
                <textarea
                  formControlName="positionDescription"
                  matInput
                ></textarea>
              </mat-form-field>
              <div class="dates">
                <mat-form-field class="full-w" appearance="outline">
                  <mat-label>startDate</mat-label>
                  <input type="date" formControlName="startDate" matInput />
                </mat-form-field>
                <mat-form-field class="full-w" appearance="outline">
                  <mat-label>endDate</mat-label>
                  <input type="date" formControlName="endDate" matInput />
                </mat-form-field>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      }
    </article>
  </form>
</section>
