#calendar {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

#calendar .header {
  font-weight: bold;
}

#calendar .title {
  grid-column: span 7;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

#calendar .current-day {
  background-color: #ffcc00;
  color: white;
}

#calendar .weekday {
  background-color: #d9d9d9;
}

#calendar .weekend {
  background-color: red;
}

#calendar .prev-month,
#calendar .next-month {
  color: #a9a9a9;
}
