<div id="calendar">
  <div class="title">{{ currentMonthName }} {{ currentYear }}</div>
  @for(day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];track day; let i
  = $index){
  <div class="header">
    {{ day }}
  </div>
  } @for(day of prevMonthDays;track day; let i = $index){
  <div
    class="prev-month"
    [ngClass]="{
      weekend: isWeekend(
        day,
        -prevMonthDays[prevMonthDays.length - 1] + day - 1
      ),
      weekday: !isWeekend(
        day,
        -prevMonthDays[prevMonthDays.length - 1] + day - 1
      )
    }"
  >
    {{ day }}
  </div>
  } @for(day of daysInMonth;track day; let i = $index){
  <div
    [ngClass]="{
      'current-day': day === currentDay,
      weekday: !isWeekend(day),
      weekend: isWeekend(day)
    }"
  >
    {{ day }}
  </div>
  } @for(day of nextMonthDays;track day; let i = $index){
  <div
    class="next-month"
    [ngClass]="{
      weekend: isWeekend(day, daysInMonth.length),
      weekday: !isWeekend(day, daysInMonth.length)
    }"
  >
    {{ day }}
  </div>
  }
</div>
