<div id="calendar">
  <div class="title">{{ currentMonthName }} {{ currentYear }}</div>
  <div
    *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']"
    class="header"
  >
    {{ day }}
  </div>
  <div
    *ngFor="let day of prevMonthDays"
    class="prev-month"
    [ngClass]="{
      weekend: isWeekend(
        day,
        -prevMonthDays[prevMonthDays.length - 1] + day - 1
      ),
      weekday: !isWeekend(
        day,
        -prevMonthDays[prevMonthDays.length - 1] + day - 1
      )
    }"
  >
    {{ day }}
  </div>
  <div
    *ngFor="let day of daysInMonth"
    [ngClass]="{
      'current-day': day === currentDay,
      weekday: !isWeekend(day),
      weekend: isWeekend(day)
    }"
  >
    {{ day }}
  </div>
  <div
    *ngFor="let day of nextMonthDays"
    class="next-month"
    [ngClass]="{
      weekend: isWeekend(day, daysInMonth.length),
      weekday: !isWeekend(day, daysInMonth.length)
    }"
  >
    {{ day }}
  </div>
</div>
